{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var corporationURL = "{{ corporate.OpenCorporateURL }}";
  var apiURL = corporationURL.replace(new RegExp("^https://"), "https://api.");

  $.get(apiURL,
        function(serverData, status){
          openCorporationData = serverData.results.company;
          $("#DataFromOpenCorporateFacts").append("<h2>Data retrieved from <a href=\"https://opencorporates.com\">OpenCorporates.com</a></h2>");
          $("#DataFromOpenCorporateFacts").append(
          "<ul><li>Name : " + openCorporationData.name + "</li>"
          + "<li>Jurisdiction Code : " + openCorporationData.jurisdiction_code + "</li>"
          + "<li>Incorporation date : " + openCorporationData.incorporation_date + "</li>"
          + "<li>Company Type : " + openCorporationData.company_type + "</li>"
          + "<li>Number of employees: " + openCorporationData.number_of_employees + "</li>"
          + "<li>Registered address: " + openCorporationData.registered_address_in_full + "</li>"
          + "<li>Industry codes :<ul>");

          var industryCodesLength = openCorporationData.industry_codes.length;
          for (var i = 0; i < industryCodesLength; i++) {
             var industryCode = openCorporationData.industry_codes[i].industry_code;
             $("#DataFromOpenCorporateFacts").append("<li>" + industryCode.description + "(" + industryCode.code + ")</li>");
          }
          $("#DataFromOpenCorporateFacts").append("</ul></li></ul>");
          console.log(serverData);
        },
        "json");
});
</script>
<div id="DataFromOpenCorporateFacts"></div>
{% endblock %}
