{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var corporationURL = "{{ corporate.OpenCorporateURL }}";
  var apiURL = corporationURL.replace(new RegExp("^https://"), "https://api.");

  $.get(apiURL,
        function(serverData, status){
          $("#DataFromOpenCorporateFacts").append("<h2>Données récupérées sur <a href=\"{{ corporate.OpenCorporateURL }}\">OpenCorporates.com</a></h2>");
          openCorporationData = serverData.results.company;
          htmlData = "<ul><li>Name : " + openCorporationData.name + "</li>"
                    + "<li>Jurisdiction Code : " + openCorporationData.jurisdiction_code + "</li>"
                    + "<li>Incorporation date : " + openCorporationData.incorporation_date + "</li>"
                    + "<li>Company Type : " + openCorporationData.company_type + "</li>"
                    + "<li>Number of employees: " + openCorporationData.number_of_employees + "</li>"
                    + "<li>Registered address: " + openCorporationData.registered_address_in_full + "</li>"
                    + "<li>Industry codes (code APE) :<ul>"

          for (var i = 0; i < openCorporationData.industry_codes.length; i++) {
             var industryCode = openCorporationData.industry_codes[i].industry_code;
             htmlData += "<li>" + industryCode.description + "(" + industryCode.code + ")</li>";
          }
          htmlData += "</ul></li></ul>";

          $("#DataFromOpenCorporateFacts").append(htmlData);
        },
        "json");
});
</script>
<div id="DataFromOpenCorporateFacts"></div>
{% endblock %}
