{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2>La base de données d’Open Corporate Facts (OCF)</h2>

<p>Les données d’Open Corporate Facts (OCF) sont issues de deux jeux de données ouverts :</p>

<ul>
    <li>Les <a href="https://www.inpi.fr/fr/licence-registre-national-du-commerce-et-des-societes-rncs">comptes de résultat des sociétés du Registre national du commerce et des sociétés (RNCS)</a> publié par l’<a href="https://www.inpi.fr/fr/linpi-au-coeur-de-linnovation">Institut National de la Propriété Industrielle (INPI)</a> ;</li>
    <li>Les données d’identité des entreprises de la base de donnée <a href="https://opencorporates.com/">Open Corporates</a> ;</li>
</ul>
    
<h3>1. Qu’est-ce que le Registre national du commerce et des sociétés (RCNS) ?</h3>

<h4>Les Registres du commerce et des sociétés (RCS)</h4>

<p>Commerçants, sociétés, groupements d’intérêts économique, micro-entrepreneurs, établissements publics français à caractère industriel et commerciale, etc.<sup>[1]</sup>, immatriculés en France, sont inscrits dans les Registres du commerce et des sociétés (RCS), répertoires locaux gérés les Tribunaux de commerce et les Tribunaux civils à compétence commerciale. Ces RCS réunissent un ensemble de documents déposés au greffe par les personnes physiques (commerçants) et morales.</p>

<h3>Le Registre National du commerce et des sociétés (RNCS)</h3>

<p>Le Registre national du commerce et des sociétés (RNCS), tenu par l’INPI, centralise les données des RCS.</p>

<p>Le RCNS réunit les informations suivantes :</p>

<ul>
    <li>les inscriptions : immatriculations, modifications et radiations ;</li>
    <li>les dépôts d’actes et les comptes de résultat pour les personnes morales.</li>
</ul>
    
<h3>L’ouverture des données du RCNS</h3>

<p>Dans le cadre de la politique d’ouverture des données publiques, l’INPI rend publiquement accessible une partie des données du RNCS dans un format ouvert (XML)<sup>[2]</sup>.</p>

<p>L’INPI publie les comptes de résultat ainsi que les données IMR déposés, depuis le 1er janvier 2017, par les entreprises, aux greffes des tribunaux de commerce, des tribunaux d’instance des départements du Bas-Rhin, du Haut-Rhin et de la Moselle, et des tribunaux mixtes de commerce des départements et régions d’outre-mer. Notons toutefois que la publication des données du RNCS par l’INPI n’est pas exhaustive puisque certaines données du RNCS, telles que les données assorties d’une <a href="https://www.infogreffe.fr/informations-et-dossiers-entreprises/actualites/confidentialite-du-depot-des-comptes">déclaration de confidentialité</a>, ne figurent pas dans les jeux de données accessibles.</p>

<h2>2. Qu’est-ce que le compte de résultat d’une entreprise ?</h2>

<p>Élément difficile d’accès pour les non-initiés, le compte de résultat ou compte annuel d’une entreprise est un document comptable de synthèse qui comptient les informations financières de l’entreprise. Il donne à voir l’ensemble des produits et des charges d’une société sur une période de temps donnée appelée exercice comptable (généralement 12 mois).</p>

<p>Avec le bilan comptable et les annexes, le compte de résultat fait partie des <a href="https://fr.wikipedia.org/wiki/%C3%89tats_financiers">états financiers</a> d’une entreprise.</p>

<p>Pour comprendre plus en détails la structure et le contenu d’un compte de résultat, consultez notre documentation.</p>

<h2>3. Licence et réutilisation des données de la base d’Open Corporate Facts</h2>

<p>Pour avoir un aperçu complet des licences du projet Open Corporate Facts, rendez-vous sur les pages <a href="">Mentions légales</a>.</p>

<h3>Téléchargement des données</h3>

<p>Les données de la base de données d’Open Corporate Facts sont téléchargeables via l’<a href="http://opencorporatefacts.fr/api">API</a> ou sous forme de fichiers csv.</p>

<div class="notes">
<p><sup>[1]</sup><a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;?idArticle=LEGIARTI000006219283&cidTexte=LEGITEXT000005634379">Voir l'article L123-1 du Code du commerce</a>.</p>

<p><sup>[2]</sup><a href="https://www.inpi.fr/sites/default/files/doc_tech_comptes_annuels_avril_2019_v1.7_0.pdf">Voir la description des fichiers XML ouverts par l’INPI</a>.</p>
</div>
    
{% endblock %}

{% block javascripts %}
{% endblock %}