{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="mentionsLegales">
    <h1>Mentions légales</h1>

    <p>Ce site est géré par l’association <strong>Code for France</strong> (loi 1901) déclarée auprès de la préfecture de police de Paris sous le numéro W751238992 et publiée au journal officiel le 15/09/2018.</p>

    <p><strong>Siège Social :</strong></p>

    <p>
    Code for France<br>
    c/o Liberté Living Lab<br>
    9 rue d’Alexandrie<br>
    75002 Paris<br>
    FRANCE
    </p>

    <p><strong>Contact :</strong></p>
    <p><a href="mailto:contact@codefor.fr">contact@codefor.fr</a></p>
</div>

<div class="licences">
    <h1>Licences</h1>

    <p>Sauf mention explicite, l’ensemble du contenu textuel de ce site est sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative Commons – Attribution – Partage dans les Mêmes Conditions (CC BY-SA 4.0)</a>.</p>

    <p>Le <a href="https://github.com/leonarf/OpenCorporateFacts">code hébergé sur Github</a> est sous licence <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>.</p>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
